:root{
	--teal: #16b21b;
	--teal_hover:#d42c1d;
	--green: #1ebbf0; /* Thêm màu xanh lá mới */

}
* {
	font-family: 'Poppins', sans-serif;
	color: var(--dark-gray);
}

.h-font {
	font-family: 'Merienda', cursive;
	color: var(--accent-color);
}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		
		-moz-appearance: textfield;
	}
	.custom-bg{
		background-color: var(--teal);
		border: 1px solid var(--teal);
	}
	/* Khi hover, màu sẽ đổi thành màu xanh lá */
	.custom-bg:hover {
	background-color: var(--green);
	border-color: var(--green);
  }

	.h-line{
		width: 150px;
		margin: 0 auto;
		height: 1.7px;
	}

	.custom-alert{
		position: fixed;
		top: 80px;
		right: 25px;
		z-index: 1111;
	}
	.navbar-nav .nav-link {
		color: black; /* Đặt màu chữ thành đen */
	}
	
	